<%= simple_form_for(task) do |f| %>
  <% unless current_user.id > 1 %>
    <div class="form-group"> 
      <%= f.input :title, label: 'Título' %>
    </div>

    <div class="form-group"> 
      <%= f.input :projects_id, collection: Project.all, label: 'Obra' %>
    </div>

    <div class="form-group">
      <%= f.input :description, label: 'Descrição' %>
    </div>
  <% end %>
    <%= f.input :photo, as: :file, label: 'Foto' %>
    
  <% unless f.object.new_record? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :completed %> Realizada
      </label>
    </div>
  <% end %>
  <%= f.button :submit, class: 'btn btn-primary mt-3' %>
<% end %>
