<div class="container mt-5">
  <div class="d-flex justify-content-start align-items-center mb-4">
    <h1><%= @task.title %></h1>
  </div>

  <p class="well">Descrição: <%= @task.details %></p>
  <% if @task.photo.attached? %>
    <%= cl_image_tag @task.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <hr>

  <%= turbo_frame_tag id="complete" do%>
    <%= link_to edit_task_path(@task.id) do %>
      <i class="fa-solid fa-pencil fa-beat"></i>
    <% end %>
  <% end %>
  
  <%= link_to tasks_path do %>
    <i class="fa-solid fa-arrow-rotate-left fa-beat"></i>
  <% end %>
</div>
