<%= @project.name %>

<h4>Fornecedores</h4>

<%  @project.suppliers.each do |supplier| %>
	<%= supplier.name %>
	<%= supplier.category %>
<% end %>

<%= turbo_frame_tag id="edit-supplier" do %>
	<%= render "work_progresses/work_progress" %>
<% end %>